:root{
    --background-color:#fff;
    --highlight-color:#f3f3f3;
    --bg-orange:rgb(245, 228, 228);
    --bg-dark:rgb(17, 17, 17);
    --bg-light:rgb(26, 26, 26);
    --bg-typestudio:rgb(55, 62, 72);
    --bg-blue:#2b65ec;
    --link-color:rgb(20, 13, 13);
    --bg-red:#eb3026;
    --text-color:rgb(68, 45, 45);
}
body{
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    background: var(--bg-light);
}

.menu-bar{
  padding: 0 5em;
  background-color: var(--link-color);
}

.menu-bar ul{
  list-style: none;
  display: inline-flex;
}

h1{
  margin-left: 3em;
  font-size: 3em;
}
.menu-bar ul li{
  margin-right:1.4em;
  font-size: 1em;
  color: var(--bg-orange);
  padding: 0em .6em;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
}

.menu-bar ul li:hover{
  color: var(--text-color);
}

.main{
  min-height: 100vh;
}

.info-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 7em;
}

.info-box .para{
  border: 1px solid red;
  padding: 1em;
  text-align: justify;
}

.bannerarea{
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 5em;
}
.banner img{
 width: 100%;
}
